//===============================================================================
// VARIABLES
//===============================================================================
$paper: hsl(212, 79, 4);
$ink: hsl(0, 0, 0);
$link: hsl(220,100,40);
$header: $ink;

$shadow: hsl(00, 100, 20);

$body-font: 'Roboto', sans-serif;

$wrap-width: 38em;

// font-family: 'Ubuntu', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;