//===============================================================================
// IMPORTS
//===============================================================================
// VARIABLES: define mixins for later use
@import "_variables";

// MIXINS: define mixins for later use
@import "_mixins";

// FONTS: @font-face rules
@import "_fonts";

// NORMALIZE: normalize.css from ttp://necolas.github.io/normalize.css/
@import "_normalize.scss";

// THIRD-PARTY: styles for JS libs etc

// ELEMENTS: styles for standard html elements
@import "_elements";

// HELPERS: helper classes. clear-fix etc
@import "_helpers";

// LAYOUT: grids, wraps etc
@import "_layout";

// TYPOGRAPHY:
@import "_typography";

// SHARED-STYLES: styles used across multiple pages
@import "_shared";

// GLOBAL-ELEMENTS: elements that are used on every page. Eg headers & footers
@import "_header";
@import "_footer";

// PAGES: styles per page

// BROWSER-FIXES: styles per page
@import "_browser-fixes";

// MEDIA-QUERIES:
@import "_media-queries";

//===============================================================================
// DEV-STYLES
//===============================================================================
// playground for development
body{
  background: $paper url('../img/star-bg.png');
  background-size: (960px / 2);
  position: relative;

  &:after,
  &:before{
    content: '';
    position: fixed;
    width: 100%;
    height: 358px;
    opacity: .3;
    z-index: -1;
  }

  &:before{
    background: url('../img/px-grad.png');
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  &:after{
    background: url('../img/px-grad.png');
    bottom: 0;
  }
}

.p1-ships,
.p2-ships{
  @extend .clear-fix;
  position: fixed;
  width: 100%;


  .dead{
    opacity: 0.4;

    .p1-ship,
    .p2-ship{
      cursor: default;
    }
  }
}

.ship-outer{
  float: left;
  width: 20%;
}

.p1-ship{
  background: url('../img/p-ship.svg');

  &:before{
    content: '';
    width: 50px;
    position: absolute;
    top: 78px;
    left: -4px;
    background: url('../img/p-shield.svg');
    background-position: center top;
  }
}

.p1-ships{
  .level-5 .p1-ship:before{
    height: 29px;
  }

  .level-4 .p1-ship:before{
    height: 24px;
  }

  .level-3 .p1-ship:before{
    height: 18px;
  }

  .level-2 .p1-ship:before{
    height: 12px;
  }

  .level-1 .p1-ship:before{
    height: 6px;
  }

  .level-0 .p1-ship:before{
    height: 0;
  }

  .shield-alert .p1-ship:before{
    background: url('../img/shield-alert.svg');
  }
}

.p2-ship{
  background: url('../img/g-ship.svg');

  &:before{
    content: '';
    width: 50px;
    position: absolute;
    bottom: 78px;
    left: -4px;
    background: url('../img/g-shield.svg');
    background-position: center bottom;
  }
}

.p2-ships{
  .level-5 .p2-ship:before{
    height: 29px;
  }

  .level-4 .p2-ship:before{
    height: 24px;
  }

  .level-3 .p2-ship:before{
    height: 18px;
  }

  .level-2 .p2-ship:before{
    height: 12px;
  }

  .level-1 .p2-ship:before{
    height: 6px;
  }

  .level-0 .p2-ship:before{
    height: 0;
  }

  .shield-alert .p2-ship:before{
    background: url('../img/shield-alert.svg');
  }
}

.p1-ship,
.p2-ship{
  width: 40px;
  height: 76px;
  margin: 0 auto;
  background-size: 100%;
  cursor: pointer;
  position: relative;
}

.p1-ships{
  top: 14px;
}

.p2-ships{
  bottom: 0;
}

.game-over-container {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(255, 255, 255, 0.5);
  color: white;

  text-align: center;

  padding-top: 50px;

  .restart {
    background-color: black;
    color: white;
    padding: 5px;

    text-decoration: none;
  }
}

